@model Pre_Accounting_CAPRICORN.Models.Invoice
@{
    ViewBag.Title = "NewInvoice";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<br />
<h2>New Invoice</h2>
<br />

<form class="form-group" method="post">
    @Html.ValidationSummary(false, "", new { @class = "Error" })
    @Html.Label("Serial-Row No")
    @Html.TextBoxFor(x => x.InvoiceSerialRowNo, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.InvoiceSerialRowNo, "", new { @class = "Error" })
    <br />
    @Html.Label("Date")
    @Html.TextBoxFor(x => x.InvoiceDate, new { @class = "form-control" })
    <br />
    @Html.Label("Time")
    @Html.TextBoxFor(x => x.InvoiceTime, new { @class = "form-control" })
    <br />
    @Html.Label("Tax Office")
    @Html.TextBoxFor(x => x.TaxOffice, new { @class = "form-control" })
    <br />
    @Html.DisplayName("Receipent")
    @Html.DropDownListFor(x => x.CustomerID, (List<SelectListItem>)ViewBag.cust, "Choose Customer", new { @class = "form-control" })
    <br />
    @Html.DisplayName("Consigner")
    @Html.DropDownListFor(x => x.PersonnelID, (List<SelectListItem>)ViewBag.pers, "Choose Personnel", new { @class = "form-control" })
    <br />
    @*@Html.Label("Total Amount")
        @Html.TextBoxFor(x => x.TotalAmount, new { @class = "form-control" })
        <br />*@
    @Html.Label("Transaction Type")
    @Html.DropDownList("Type", new List<SelectListItem>
    {
        new SelectListItem{Text="Choose Type", Value="0"},
        new SelectListItem{Text="Purchase", Value="1"},
        new SelectListItem{Text="Sale", Value="2"},
    }, new { @class = "form-control" })
    <br />
    <button class="btn btn-secondary">Save</button>
</form>

<style>
    .Error {
        color: red;
        font-family: 'Times New Roman';
    }
</style>


