@model Pre_Accounting_CAPRICORN.Models.Invoice
@{
    ViewBag.Title = "PrintInvoice";
}

<style type="text/css">

    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
        font-size: 16px;
        line-height: 24px;
        font-family: Arial, sans-serif;
    }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

            .invoice-box table td {
                padding: 5px;
                vertical-align: top;
            }

            .invoice-box table tr td:nth-child(2) {
                text-align: right;
            }

            .invoice-box table tr.top table td {
                padding-bottom: 20px;
            }

            .invoice-box table tr.information table td {
                padding-bottom: 40px;
            }

            .invoice-box table tr.heading td {
                background: #eee;
                border-bottom: 1px solid #ddd;
                font-weight: bold;
            }

            .invoice-box table tr.details td {
                padding-bottom: 20px;
            }

            .invoice-box table tr.item td {
                border-bottom: 1px solid #eee;
                text-align:center;
            }

            
</style>


<div id="PrintPDF" class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            <h4>Capricorn Invoice</h4>
                        </td>
                        <td>
                                Invoice #:@Model.InvoiceSerialRowNo <br />
                                Created:@Model.InvoiceDate @Model.InvoiceTime<br />
                        </td>


                    </tr>
                </table>
            </td>
        </tr>
        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            <h4>To:</h4>
                            @Model.Customer.CustomerName<br />
                            @Model.Customer.CustomerCity<br />
                            @Model.Customer.CustomerMailAddress<br />
                        </td>
                        <td>
                            <h4>From:</h4>
                            @Model.Personnel.PersonnelName
                        </td>

                    </tr>
                    <tr class="details">
                        <td>Transaction Type:</td>
                        <td>@(Model.Type == "1" ? "Purchase" : Model.Type == "2" ? "Sale" : "not defined")</td>
                    </tr>
                    <tr class="heading">
                        <td>Item</td>
                        <td>Quantity</td>
                        <td>Price</td>
                        <td>Total</td>
                    </tr>
                    <tr class="item">
                        @foreach(var item in Model.InvoiceItems)
                        {
                           <tr>
                                <td>@item.Product.Brand @item.Product.ProductName</td>
                                <td>@item.Quantity</td>
                                <td>@item.Price</td>
                                <td>@item.Total</td>
                           </tr>
                        }
                    </tr>
                    

                </table>
            </td>
        </tr>
    </table>
    <div style="text-align:right">
        <label>Total Amount</label>
        <p>@Model.TotalAmount</p>
    </div>
</div>

@using (Html.BeginForm("ExportHTML", "Sales", FormMethod.Post))
{
    <input type="hidden" name="ExportData" />
    <input type="submit" id="btnSubmit" class="btn btn-secondary" value="Export" />
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
                $(function () {
                    $("#btnSubmit").click(function () {
                        $("input[name='ExportData']").val($("#PrintPDF").html());
                    });
                });
</script>





